@import '../base/colors.scss';

.search {
    span {
        font-size: 14px;
        color: $font-color2;
    }
    input.searchAlbum {
        @include font-title;
        width: 100%;
        padding: 10px 0px;
        background: none;
        border: none;
        border-bottom: 1px solid $font-color1;   
        &:focus {
            outline: none;
        }
    }
    
    h2 {
        margin-top: 30px;
        @include font-h2;
     }
}

@media (max-width: 500px) {
    .search {
        text-align: center;
        h2 {
            font-size: 20px;
        }
        input.searchAlbum {
            margin-top: 5px;
            font-size: 28px;
        }
    }
}