@import '../base/colors.scss';

a.go-back {
    display: block;
    color: $font-color2;
    text-decoration: none;
    padding: 20px 0px;
    i {
        font-style: normal;
        font-size: 30px;
    }
}

.track-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    .album-info {
        width: 300px;
        text-align: center;
        h2 {
            @include font-h2;
        }
        a {
            @include album-artist;
            text-decoration: none;
        }
        .album-image {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            background: url('../../images/placeholder.png');
            background-size: contain;
        }
    }
    .album-tracks {
        width: 500px;
        ul {
            margin-top: 0px;
            padding-left: 10px;
            li {
                cursor: pointer;
                list-style: none;
                padding: 10px;
                .track-number {
                    float: left;
                    img {
                        display: none;
                    }
                }
                .track-length {
                    float: right;  
                }
                .track-name {
                    color: $font-color2;
                    margin-left: 30px;
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                    .track-number {
                        img {
                            display: block;
                            margin-left: -5px;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                &.active {
                    background-color: rgba(255, 255, 255, 0.4);
                    .track-number {
                        img {
                            display: block;
                            margin-left: -5px;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }   
        }
    }
}

@media (max-width: 768px) {
    .track-list {
        display: block;
        .album-tracks {
            width: 100%;
            margin-top: 50px;
            ul {
                padding-left: 0px;
            }
        }
        .album-info {
            width: 100%;
            text-align: center;
            h2 {
                @include font-h2;
            }
        }
    }
}

@media (max-width: 400px) {
    .track-list {
        .album-info {
            img {
                width: 100%;
            }
        }
        .album-tracks {
            ul {
                li {
                    .track-name {
                        width: 70%;
                    }
                }
            }
        }
    }
}


